table {
  background-color: yellow;
  border: 1px solid black;
  border-collapse: collapse; /* prevents double borders */
}

th, td, tr {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
